@charset "UTF-8";
@font-face {
    font-family: 'Tan Meringue';
    src: url(../fonts/TAN\ MERINGUE.ttf) format('truetype');
}
@font-face {
    font-family: 'The Youngest';
    src: url(../fonts/the-youngest-script.ttf) format('truetype');
}

:root {
    --font-title: 'Tan Meringue', 'Times New Roman', Times, serif;
    --font-subtitle: 'The Youngest', 'Times New Roman', Times, serif;
    --font-text: 'Arial, Helvetica, sans-serif';
}
/* Configuração geral da página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* Fim da configuração geral da página*/
/* Configuração do cabeçalho da página*/
header {
    width: 100%;
    height: 100%;
    background: #f6f2ef url(../images/ametista_cama_lado.jpg) no-repeat center / cover;
    position: relative;
}
header div {
    width: 295px;
    margin: auto;
    padding-top: 15%;
    color: white;
    text-shadow: 0px 6px 0px rgba(0, 0, 0, .6);
} 
header p {
    font: normal 20pt var(--font-subtitle);
    text-align: right;
    font-size: 2em;
}

h1 {
    font-family: var(--font-title);
    text-align: center;
}

header a {
    position: absolute;
    bottom: 8%;
    left: 8%;
    padding: 8px;
    background-color: white;
    font: normal 10pt Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #623e2a;
    transition: all .3s ease-in-out;
}
header a:hover {
    background-color: #623e2a;
    color: white;
}
/* Fim da configuração do cabeçalho da página*/
/* Configuração geral do conteúdo da página*/
main {
    color: #623e2a;
}

section {
    padding-top: 2em;
}
section p {
    padding: .2em 0;
    font-size: 1.2em;
}

h2, h3 {
    font-family: var(--font-title);
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
}

#casa {
    background-color: #e8e8e1;
    height: 100%;
}
.intro {
    width: 100%;
    padding: 0 1em;
}
.imagem {
    width: 98%;
    height: 250px;
    margin: 15px auto;
    background: #e8e8e1 url(../images/quartzo_detalhe_cama.jpg) no-repeat center / cover; 
}

#suites {
    background-color: #f6f2ef;
    height: auto;
}
#suites h2 {
    padding-left: 1em;
    padding-bottom: .6em;
}

.opcoes {
    padding: .8em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
}
.quarto {
    position: relative;
    width: 48%;
}
.quarto h3 {
    padding: .5em 0;
}
figure {
    width: 100%;
}
figure img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}
figcaption {
    font: normal 10pt var(--font-text);
}
.quarto a {
    position: absolute;
    bottom: 30%;
    right: 5%;
    padding: 4px;
    background-color: #623e2a;
    color: white;
    font: normal 10pt Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.quarto a:hover {
    background-color: white;
    color: black;
}

#detalhe {
    background-color: #e8e8e1;
    height: max-content;
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
}
#detalhe h2 {
    text-align: right;
    font-size: 1.5em;
    padding-right: .7em;
    padding-bottom: .5em;
}
hr {
    width: 100vw;
    border: 2px solid #623e2a;
}

.ambientes {
    padding: .5em 1em;
}
.descricao {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: .5em 0;
}
.descricao h3 {
    font-size: 1.6em;
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.3);
}

#piscina h3 {
    text-align: right;
}
.piscina {
    background: #e8e8e1 url(../images/casa_piscina.jpg) no-repeat center / cover;
    width: 450px;
    height: 250px;
}
.sala {
    background: #e8e8e1 url(../images/casa_sala.jpg) no-repeat center / cover;
    width: 450px;
    height: 250px;
}

#cafe h3 {
    text-align: right;
}
.cafe {
    background: #e8e8e1 url(../images/casa_cozinha.jpg) no-repeat center / cover;
    width: 550px;
    height: 200px;
}

#resenha {
    display: none;
}
/* Fim da configuração geral do conteúdo da página*/
/* Configuração do rodapé da página*/
footer {
    background-color: #f6f2ef;
    border-top: 3px solid #623e2a;
    padding-top: 1em;
}
footer h2 {
    color: #c2b19c;
    font-size: 3.5em;
    text-align: center;
    text-shadow: none;
}
footer h3 {
    color: #623e2a;
    text-shadow: none;
}

footer ul {
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
}
footer li {
    display: inline;
    padding: 10px;
}
footer a {
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    font: normal 10pt Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #623e2a;
    transition: all .3s ease-in-out;
}
footer a:hover {
    background-color: #623e2a;
    color: white;
}

.local {
    padding: .5em;
}
.local p {
    font: normal 10pt Arial;
    color: black;
}
.local iframe {
    width: 100%;
    height: 300px;
    outline: 2px solid #623e2a;
    margin-top: .5em;
}
/* Fim da configuração do rodapé da página*/